<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <button ion-button (click)="myFunc()" type="button" name="button">List of devices</button>
  <div *ngIf="show">
    <br>
    <h1>Devices</h1>
    <div *ngFor="let device of devices">
      <ion-card (click)="selectDevice(device)">
        <ion-card-header>
          {{device.name}}
        </ion-card-header>
        <ion-card-content>
          <p><strong>address:</strong>{{device.address}} </p>
          <p><strong>class:</strong>{{device.class}} </p>
        </ion-card-content>
      </ion-card>
    </div>


  </div>
</ion-content>
